ANALYTICS_NAME=
ANALYTICS_USER=
ANALYTICS_PASSWORD= 
ANALYTICS_PORT=
ANALYTICS_HOST=

CLOUD_USER=
CLOUD_NAME=
CLOUD_PASSWORD=
CLOUD_HOST=
CLOUD_PORT=

PAYMENTS_USER=
PAYMENTS_PASSWORD=
PAYMENTS_NAME=
PAYMENTS_HOST=

LEGACY_USER=
LEGACY_PASSWORD=
LEGACY_NAME=
LEGACY_PORT=
LEGACY_HOST=

TOKEN = "xxxxxxxxxxxxxxxxxxx"
